/Project/Iap/MDK-ARM/RTE
/Project/Iap/MDK-ARM/iap.uvguix.Mocnik
/Project/Iap/MDK-ARM/iap.uvoptx
/Project/Iap/MDK-ARM/listing
/Project/Iap/MDK-ARM/output
/Project/lib/MDK-ARM/lib.uvguix.Mocnik
/Project/lib/MDK-ARM/lib.uvoptx
/Project/lib/MDK-ARM/listing
/Project/lib/MDK-ARM/output
/Project/SkyPulse/SkyPulse.uvoptx
/Project/SkyPulse/list
/Project/SkyPulse/output
/Project/SkyPulse/SkyPulse.uvguix.Mocnik
/Project/SkyPulse/SkyPulse.uvguix.Matjaz
/Project/SkyPulse/SkyPulse.uvguix.Mocnik.bak
/Project/lib/MDK-ARM/lib.uvguix.Matjaz
